<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <div id="open">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light shadow bg-light container-fluid">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-cart-plus"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" style="padding-left: 35rem">
              <h4 class="nav-link h5 text-black">After School Classroom</h4>
            </li>
          </ul>
        </div>
        <div class="d-flex align-items-center">
          <button class="btn btn-outline-primary me-3" v-on:click="showCheckout"
            :disabled="cart.length == 0 && showProduct">
            <i class="fas fa-cart-plus"></i>
            <span class="badge rounded-pill badge-notification bg-danger">{{cartItemCount}}</span>
          </button>
        </div>
      </div>
    </nav>
    <div class="container mt-5">
      <div v-if="showProduct">
        <div class="row pt-5">
          <h4></h4>
          <div class="col-lg-2">
            <div class="still">
              <div class="form-check">
                <input class="form-check-input" value="desc" type="radio" id="asc" v-model="sortOrder"
                  v-on:input="searchLessons" />
                <label class="form-check-label" for="asc">Ascending</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" value="asc" type="radio" id="desc" v-model="sortOrder"
                  v-on:input="searchLessons" />
                <label class="form-check-label" for="desc">Descending</label>
              </div>
            </div>
          </div>
          <div class="col-lg-10">
            <form class="form-a">
              <div class="row">
                <div class="col-md-8 mb-2">
                  <div class="form-group">
                    <input type="text" v-model="searchInput" placeholder="Search" v-on:input="searchLessons"
                      class="form-control p-2 ps-3 rounded-0 shadow-0 form-control-lg form-control-a" />
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-2">
                <div class="form-group">
                  <select name="sortBy" v-model="sortBy" id="sortBy" v-on:change="searchLessons">
                    class="form-control p-2 bg-white ps-3 form-select rounded-0 shadow-0 form-control-a
                    form-control-lg">
                    <option value="title">Title</option>
                    <option value="price">Price</option>
                    <option value="location">Location</option>
                    <option value="availableInventory">Avalibility</option>
                  </select>
                </div>
              </div>
            </form>
            <div class="product-list">
              <div class="row" style="display: flex; flex-wrap: wrap">
                <div v-for="subject in subjects" class="container border border-primary"
                  style="width: 25%; padding: 20px; margin: 20px">
                  <div>
                    <div class="card-img text-center p-2 bg-dark-white">
                      <img v-bind:src="baseURL+'images/'+subject.image" alt="" width="100" height="100" />
                    </div>
                    <div class="card-body px-0 py-2">
                      <h5 class="mb-0" v-text="subject.title"></h5>
                      <p class="mb-0" v-text="subject.location"></p>
                      <div class="row">
                        <div class="col-6">
                          <p class="mb-0">
                            <small class="text-black-50">Price:</small>
                            <strong>${{subject.price}}</strong>
                          </p>
                          <small class="text-black-50">Spaces {{subject.availableInventory > 0 ?
                            subject.availableInventory : "Out of Stock"}}</small>
                        </div>
                        <div>
                          <button type="button" class="btn btn-primary" v-on:click="addToCart(subject)"
                            :disabled="subject.availableInventory < 1">
                            Add to cart
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-if="subjects == ''">
                  <div class="text-center mt-4">
                    <img src="images/zero.png" alt="" width="160" height="160" />
                    <p class="mt-2">
                      <strong>{{searchInput}}</strong> not Find
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-5" v-else>
        <div class="row">
          <div class="col-lg-6">
            <div class="still">
              <h2 class="mt-5">Checkout</h2>
              <div class="row">
                <div class="col-6">
                  <div class="form-outline mb-3 border mt-4">
                    <input type="text" id="form5Example1" v-model="firstName" class="form-control" />
                    <label class="form-label" for="form5Example1">Firstname</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-outline mb-3 border mt-4">
                    <input type="text" id="form5Example1" v-model="lastName" class="form-control" />
                    <label class="form-label" for="form5Example1">Lastname</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-outline mb-4 border">
                    <input type="number" id="form5Example2" v-model="phoneNumber" class="form-control" />
                    <label class="form-label" for="form5Example2">Phone Number</label>
                  </div>
                </div>
              </div>
              <br />
              <button class="btn btn-primary" v-on:click="placeOrder"
                :disabled="!(validateUserName && validateUserPhone)">
                Place Order
              </button>
            </div>
          </div>
          <div class="col-lg-6">
            <div v-for="subject in checkOut()" class="col-lg-12 p-2">
              <div class="p-2 border">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="mt-2">
                    <h4 v-text="subject.title"></h4>
                    <div class="mt-4">
                      <h5 class="mb-0" v-text="subject.location"></h5>
                      <p class="mb-0">Price: ${{subject.price}}</p>

                      <button class="btn btn-danger" v-on:click="removeCartItem(subject._id)">
                        <small>Remove</small>
                      </button>
                    </div>
                  </div>
                  <div class="image">
                    <figure class="mb-0">
                      <img v-bind:src="baseURL+'images/'+subject.image" alt="" width="120" height="140" />
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="checkOut() == ''">
              <div class="text-center mt-4">
                <img src="images/zero.png" alt="" width="160" height="160" />
                <p class="mt-2"><strong>Cart Empty</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="script.js"></script>
</body>

</html>